extends layout

block content

	h1= title
	p База даных садовых и полевых растений
	<hr>
	// Определяем какой это проход и в зависемости от этого дисейблим определенные поля
	if imgfile === 'old'
		- encType = 'multipart/form-data'
		- textinfo = 'Сначала загрузите картинку'
		- f_dis = 'disabled'
		//- f_dis1 = ' '
	else
		-	encType = 'aplication/json'	
		- textinfo = 'Заполните остальные поля'
		- f_dis1 = 'disabled'
		//- f_dis = ' '
	// Если новая запись, убираем в полях value	
	if imgfile === 'newnew'	
		- fname = ''
		- fnamelat = ''
		- furl = ''
	else
		- fname = cursor.name
		- fnamelat = cursor.name_lat
		- furl = cursor.url
	h3= textinfo
	<hr>	
	form(method='post', enctype= encType, id='myForm')
		div
			input(type='hidden', name= 'id', value = cursor._id)
			input(type='hidden', name= 'imgfile', value = imgfile)
			span Наименование: 
			input(type='text', name = 'name', value=fname, disabled = f_dis, placeholder=cursor.name)
			<br><br>
			span Латинское название: 
			input(type='text', name = 'name_lat',  value=fnamelat, disabled=f_dis, placeholder=cursor.name_lat )
			<br><br>
			span Ссылка на Вики: 
			input(type='text', name = 'url', value=furl, disabled = f_dis, placeholder=cursor.url)
			div
				img.image(style='width:15%', src = 'data:image/jpeg;base64, ' + cursor.img)
				span  Загрузите изображение: 
				input(type='file', name = 'img', accept='image/*, image/jpeg', disabled = f_dis1)
				input(type='button', value = 'Загрузить', onclick='loadimg()', disabled = f_dis1)
				script.
					function loadimg() {
						document.getElementById('myForm').submit();
					}
			div
			<hr>
			input(type='submit', id='btn_submit', value='Сохранить', disabled = f_dis )
			<hr>
		<a href='/'> Назад на главную
